<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">
  <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
  <title>My portfolio</title>
  
</head>
<body>
      <!--Navigation bar-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <nav class="navbar navbar-dark bg-primary">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contact</a>
          </li>
          
        </ul>
      </div>
    </nav>
  </nav>
  <!--image and short intro-->
  <div class="container-fluid p-5 bg-white text-black text-center">
    <img src="../assets/img/profile.png" class="rounded-circle" height="200" width="200">
    <h4 style="color:red;"> IT's XK-SARKAR</h4>
    <img src="../assets/img/facebook.svg" height="30" width="30">
    <img src="../assets/img/instagram.svg" height="30" width="30">
  </div>
<!--About Section-->
<div class="container mt-5">
  <h2 id="about">About</h2>
  <font size="5">
   XK-SARKAR
  </font>
    <p>
    Hello there!It's me Samrat Xetri aka XK-SARKAR straight out of Kathmandu,Maliguan(Ward no=5).Basically I am the SEE appreaed student who gave the exam this year which is 2022(2079) from Columbus International School which was the school which I studied from the beigining of my studies.I was and is still very interested in Music from my childhood and have won 5 times in the competition but as  my years passed my voice started being huskey so i quiet singing and started to write rap and entered im the nepop industry.
    I used to play various musical instruments from my childhood and also used to perform in various programs and events from the behalf of the  school.I am also interested in the sports like footabll,tt,batminton,basketball,etc. I with my school team went to play the intra-school Football competition organised by AGM school and the specifies name of that cup was GSAACA cup where me and my team appreaed the first runner up in the very first year and also participated in the next year match too. I also played the Football Tournment organised by KVS school. I was also the coach of the girls football team of the school where our girls scored first position in the latest GSAACA cup 2079.
  </p>
  </div>
  <!--academic history-->
    <div class="container mt-5">
      <h4>Academic History</h4>
        <div class="row">
          <div class="col-lg-4 d-flex algibn-items-stretch">
            <div class="card border-secondary mb-3" style="max-width: 18rem;">
              <div class="card-header"><h4 class="card-title">basic level examination</h4></div>
                <div class="card body text secondary">
                <p class="card-text">
                  G.P.A:3.89<br>
                  Year 2076<br>
                School:Columbus International School<br>
                Location:Maliguan,kathmandu<br>
                Contact:01-4410056<br>
                
            </p>
           </div>
          </div>     
         </div>
          <div class="col-lg-4 d-flex algibn-items-stretch">
            <div class="card border-secondary mb-3" style="max-width: 18rem;">
              <div class="card-header"><h4 class="card-title">secondary education examination(see)</h4></div>
                <div class="card body taxt secondary">
                 <p class="card-text">
                   G.P.A:<br>
                  Year 2078<br>
                 School:Columbus Internatioal School<br>
                Location:Maliguan,kathmandu<br>
                Contact:01-4410056<br>
                
            </p>
           </div>
          </div>     
         </div>
            <div class="col-lg-4 d-flex algibn-items-stretch">
            <div class="card border-secondary mb-3" style="max-width: 18rem;">
              <div class="card-header"><h4 class="card-title">computer course</h4></div>
                <div class="card body taxt secondary">
                 <p class="card-text">
                   <br>
                  Year 2079<br>
                 Institution:Khatalaya<br>
                 Location:Chabil,kathmandu<br>
                Contact:9881303464
                Contact:9851060064
      </p>
    </div>
    </div>  
  </div> 
</div>

 <!-- Contact Form -->
      <div class="container">
        <h2 id="contact">Contact Me</h2>
          <div class="row">
              <div class="col-md-8">
                  <div class="well well-sm">
                    <form>
                      <div class="row">
                          <div class="col-md-6">
                              <div class="form-group">
                                  <label for="name">Name</label>
                                  <input type="text" class="form-control" id="name" placeholder="Enter name" required="required" />
                              </div>
                              <div class="form-group">
                                  <label for="email"> Email Address</label>
                                  <div class="input-group">
                                      <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                                      <input type="email" class="form-control" id="email" placeholder="Enter email" required="required" /></div>
                              </div>
                              <div class="form-group">
                                  <label for="subject">Subject</label>
                                  <select id="subject" name="subject" class="form-control" required="required">
                                      <option value="na" selected="">Choose One:</option>
                                      <option value="service">Job Offer</option>
                                      <option value="suggestions">Suggestions</option>
                                      <option value="product">Scholarship</option>
                                  </select>
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="form-group">
                                  <label for="name">Message</label>
                                  <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required"
                                      placeholder="Message"></textarea>
                              </div>
                          </div>
                          <div class="col-md-12">
                              <button type="submit" class="btn btn-primary pull-right" id="btnContactUs">Send Message</button>
                          </div>
                      </div>
                    </form>
                  </div>
              </div>
              <div class="col-md-4">
                <form>
                  <legend><span class="glyphicon glyphicon-globe"></span> Adress</legend>
                  <address>
                      <strong>Xettri Musical Showroom</strong><br>
                      795 Kathmandu,Nepal 600<br>
                      Kathmandu-6,Nepal 94107<br>
                      <abbr title="Phone">P:</abbr>
                     +977 9823269536
                  </address>
                  <address>
                      <strong>Samrat Xetri</strong><br>
                      <a href="mailto:#">xdon69@gmail.com</a>
                  </address>
                </form>
              </div>
          </div>
      </div>
             


<!--Footer-->
<footer class="page-footer font-small dark">

<!--Copyright-->
<div class="footer-copyright text-center py-3"> &copy; 2020 Copyright:<a href="/">XK-SARKAR</a>
</div>
<!--Copyright-->
</footer>    
  
</body>
</html>
